@page
@model MedicalSuiteWeb.Pages.Prescription.AddPrescriptionModel
@using System.Security.Claims
@{
    ViewData["Title"] = "View_Inventory";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}
<body>
    <div class="container mt-5">
        <h2 class="mb-4">Add Prescription to User</h2>
        <form>
            <div class="mb-3">
                <label asp-for="newPrescription.PrescriptionName" class="form-label"></label>
                <input type="text" id="user-name" asp-for="newPrescription.PrescriptionName" name="user-name" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.PrescriptionStrength" class="form-label"></label>
                <input type="text" id="user-name" asp-for="newPrescription.PrescriptionStrength" name="prescription-strength" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.PrescriptionQuantity" class="form-label"></label>
                <input type="text" id="prescription-quantity" name="prescription-quantity" asp-for="newPrescription.PrescriptionQuantity" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.PrescriptionDirections" class="form-label"></label>
                <input type="text" id="prescription-date" name="prescription-date" asp-for="newPrescription.PrescriptionDirections" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.WrittenDate" class="form-label"></label>
                <input type="date" id="prescription-date" name="prescription-date" asp-for="newPrescription.WrittenDate" class="form-control">
            </div

            <div class="mb-3">
                <label asp-for="newPrescription.ExpirationDate" class="form-label"></label>
                <input type="text" id="prescription-date" name="prescription-date" asp-for="newPrescription.ExpirationDate" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.Notes" class="form-label"></label>
                <input type="text" id="prescription-date" name="prescription-date" asp-for="newPrescription.Notes" class="form-control">
            </div>

            <div class="mb-3">
                <label asp-for="newPrescription.CategoryId" class="form-label"></label>
                <input type="text" id="prescription-date" name="prescription-date" asp-for="newPrescription.CategoryId" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Add Prescription</button>
        </form>
</body>