@page
@model MedicalSuiteWeb.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Welcome to Our Practice</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut feugiat ante, eget consequat ligula. Integer fringilla tortor et erat blandit, eget vulputate lacus efficitur. Nulla facilisi.</p>
            <p>Morbi ultricies, nulla sit amet varius ultrices, massa nisi posuere metus, sit amet euismod mi eros et justo. Nulla facilisi. Nam sollicitudin ligula nec orci bibendum fermentum. Fusce pretium nibh at dolor aliquet, eget malesuada dui finibus. Nam vel metus nisi. Sed bibendum, ipsum eu scelerisque congue, nunc quam ullamcorper justo, sit amet ullamcorper sem libero sit amet neque.</p>
            <p>Our team of dedicated healthcare professionals includes experienced doctors, nurses, and support staff who are committed to delivering personalized care to each patient. We work together to ensure that every patient receives the best possible treatment.</p>
            <p>We are conveniently located in the heart of the city and offer a wide range of medical services to meet the needs of our community.</p>
        </div>
        <div class="col-md-6">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb8Q_hZpnP5ckE3ZV-JvZKJjtxVfulDXa-8g&s" class="img-fluid" alt="Medical Suite" style="max-height: 400px;">
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-6">
            <h2>Our Mission</h2>
            <p>Our mission is to provide compassionate and high-quality healthcare to our patients. We strive to create a welcoming and comfortable environment where patients feel cared for and respected.</p>
        </div>
        <div class="col-md-6">
            <h2>Our Team</h2>
            <p>Our team consists of experienced and compassionate healthcare professionals who are dedicated to improving the health and well-being of our patients. We work together to provide comprehensive care and support to our patients.</p>
            <ul>
                <li>Dr. John Doe - Chief Medical Officer</li>
                <li>Dr. Jane Smith - Family Medicine Specialist</li>
                <li>Nurse Mary Johnson - Registered Nurse</li>
                <li>Andrea Davis - Patient Care Coordinator</li>
            </ul>
        </div>
    </div>
</div>

