@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to Medical Suite</h1>
        <p class="lead">Your health is our priority. We are committed to providing high-quality healthcare services to our patients.</p>
        <hr class="my-4">
        <p>Contact us today to schedule an appointment or learn more about our services.</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-page="/Appointments" role="button">Schedule an Appointment</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>Our team of dedicated healthcare professionals includes experienced doctors, nurses, and support staff who are committed to delivering personalized care to each patient.</p>
            <a  class="btn btn-primary" asp-area="" asp-page="/AboutUs">Learn More</a>
        </div>
        <div class="col-md-6">
            <h2>Our Services</h2>
            <p>Our practice offers a comprehensive range of services to meet the healthcare needs of our patients. Whether you need a routine check-up or treatment for a specific condition, our team is here to provide you with the care you need.</p>
            <a class="btn btn-primary" asp-area="" asp-page="/AboutUs">View Services</a>
        </div>
    </div>
</div>
