@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<style>
    
    h1{
        color: white;
        font-weight:bold;
        font-size:x-large;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Hello, Welcome to the Medical Suite</h1>
</div>
