@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background: linear-gradient(130deg, #103bfc, #10ffff );
    }
    h1{
        color: white;
        font-weight:bold;
        font-size:x-large;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
