@page
@using System.Security.Claims
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}

<h1>@ViewData["Title"]</h1>

<p>We value our customers so we abide by HIPPA policy.</p>
