@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background: linear-gradient(130deg, #103bfc, #10ffff );
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>We value our customers so we abide by HIPPA policy. But if someone offers us enough money, they can have your data</p>
