@page
@model MedicalSuiteWeb.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot_Password";
}


<form method="post">

    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="user.Email">Email</label>
            <input type="email" class="form-control" asp-for="user.Email" placeholder="Enter your email" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="user.Password">New Password</label>
            <div class="password-container">
                <input type="password" class="form-control" asp-for="user.Password" placeholder="Enter your password" id="password" />
                <button type="button" id="togglePassword" class="btn btn-secondary" onclick="togglePasswordVisibility()"><i id="eyeIcon" class="bi bi-eye"></i></button>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-10">
            <input type="submit" value="Reset Password" class="btn btn-primary" />
        </div>
    </div>
</form>