@page
@model MedicalSuiteWeb.Pages.Account.LoginModel
@{
}
<form method="post">
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Email</label>
        </div>
        <div class="col-10">
            <input type="email" class="form-control"/>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <label class="form-label">Password</label>
        </div>
        <div class="col-10">
             <input type="password" class="form-control" />
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <button id="btnLogin" class="btn btn-primary">Sign In </button>
        </div>
    </div>
</form> 