@page
@model MedicalSuiteWeb.Pages.Account.LoginModel
@{
}
<div class="row m-2">
    <div class="col-2">
        <label class="form-label">Email</label>
    </div>
    <div class"col-10">
        <input type="email" class="form-control" />  
    </div>
</div>