@page
@model MedicalSuiteWeb.Pages.Account.LoginModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Login";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null) {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}

<style>
    form {
        max-width: 400px;
        margin: auto;
        padding: 20px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: transparent;
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        margin-bottom: 10px;
    }

    .btn-login {
        width: 100%;
    }

    .text-danger {
        color: red;
    }

    #togglePassword {
        margin: auto;
        margin-bottom: 10px;
        margin-left: 10px;
    }
</style>

<h2>Login</h2>

<form method="post">
    <div class="row text-danger" asp-validation-summary="All"></div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="LoginUser.Email">Email</label>
            <input type="email" class="form-control" asp-for="LoginUser.Email" placeholder="Enter your email" />
            <span asp-validation-for="LoginUser.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="LoginUser.Password">Password</label>
            <div class="password-container">
                <input type="password" class="form-control" asp-for="LoginUser.Password" placeholder="Enter your password" id="password" />
                <button type="button" id="togglePassword" class="btn btn-secondary" onclick="togglePasswordVisibility()"><i id="eyeIcon" class="bi bi-eye"></i></button>
            </div>
            <span asp-validation-for="LoginUser.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <button id="btnLogin" class="btn btn-primary btn-login">Login</button>
        </div>
    </div>
</form>
