@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@using System.Security.Claims
@{
    HttpContext httpContext = this.HttpContext;
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}

<div class="profile-container">
    <div class="profile-header">
        <h2>Your Profile</h2>
    </div>
    <div class="profile-section">
        <div class="row m-2">
           <div class="col-4">
                <strong>First Name:</strong>
                <label>@Model.profile.FirstName</label>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-4">
                <strong>Last Name:</strong>
                <label>@Model.profile.LastName</label>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-4">
                <strong>Email:</strong>
                <label>@Model.profile.Email</label>
            </div>
        </div>
            <div class="row m-2">
                <div class="col-5">
                <strong>Telephone #:</strong>
                    <label>@Model.profile.Telephone</label>
                </div>
            </div>
    </div>
    <div class="prescription-section">
        <div class="prescription-header">Prescriptions</div>
        
    </div>
</div>

