@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<div class="row m-2">
    <div class="col-2">
        First Name:
        <label>@Model.profile.FirstName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Last Name:
        <label>@Model.profile.LastName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Email:
        <label>@Model.profile.Email</label>
    </div>
</div>

