@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@{
}
<<<<<<< Updated upstream
=======
<div class="text-center">
    <h1 class="display-4">Your Profile Page</h1>
</div>
>>>>>>> Stashed changes
