@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}
<div class="row m-2">
    <div class="col-2">
        First Name:
        <label asp-for="profile.FirstName"></label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Last Name:
        <label asp-for="profile.LastName"></label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Email:
        <label asp-for="profile.Email"></label>
    </div>
</div>

