@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@{
    Layout = HttpContext.User.Identity.IsAuthenticated ? "_LayoutAuthenticated" : "_Layout";
}

<div class="row m-2">
    <div class="col-2">
        First Name:
        <label>@Model.profile.FirstName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Last Name:
        <label>@Model.profile.LastName</label>
    </div>
</div>
<div class="row m-2">
    <div class="col-2">
        Email:
        <label>@Model.profile.Email</label>
<div class="profile-container">
    <div class="profile-header">
        <h2>Your Profile</h2>
    </div>
    <div class="profile-section">
        <div class="row m-2">
           <div class="col-2">
                First Name:
                <label asp-for="profile.FirstName"></label>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-2">
                Last Name:
                <label asp-for="profile.LastName"></label>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-2">
                Email:
                <label asp-for="profile.Email"></label>
            </div>
        </div>
    </div>

    <div class="prescription-section">
        <div class="prescription-header">Prescriptions</div>
        
    </div>
</div>

