@page
@model MedicalSuiteWeb.Pages.Account.ProfileModel
@{
}
<style>
    body {
        background: linear-gradient(130deg, #103bfc, #10ffff );
    }
    .text-center{
        color:white;
    }
    .form-label {
        color: white;
    }

</style>
<div class="text-center">
    <h1 class="display-4">Your Profile Page</h1>
</div>