@page
@model MedicalSuiteWeb.Pages.Account.RegisterModel
@{
}

<form method="post">
    <div class="row text-danger" asp-validation-summary="All"></div>
    <div class=" row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.FirstName" class="form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="NewPerson.FirstName" type="text" class="form-control" />
            <span asp-validation-for="NewPerson.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class=" row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.LastName" class="form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="NewPerson.LastName" type="text" class="form-control" />
            <span asp-validation-for="NewPerson.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class=" row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.Email" class="form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="NewPerson.Email" type="email" class="form-control" />
            <span asp-validation-for="NewPerson.Email" class="text-danger"></span>
        </div>
    </div>
    <div class=" row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.Password" class="form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="NewPerson.Password" type="password" class="form-control" />
            <span asp-validation-for="NewPerson.Password" class="text-danger"></span>
        </div>
    </div>
    <div class=" row m-2">
        <div class="col-2">
            <label asp-for="NewPerson.Telephone" class="form-label"></label>
        </div>
        <div class="col-5">
            <input asp-for="NewPerson.Telephone" type="tel" class="form-control" />
            <span asp-validation-for="NewPerson.Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-2">
            <button id="btnRegister" class="btn btn-primary">Register</button>
        </div>
    </div>

</form>