@page
@using System.Security.Claims
@model MedicalSuiteWeb.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}

<style>
    
</style>

<h2>Register</h2>

<form method="post">
    <div class="row text-danger" asp-validation-summary="All"></div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="NewPerson.FirstName">First Name</label>
            <input type="text" class="form-control" asp-for="NewPerson.FirstName" placeholder="Enter your first name" />
            <span asp-validation-for="NewPerson.FirstName" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="NewPerson.LastName">Last Name</label>
            <input type="text" class="form-control" asp-for="NewPerson.LastName" placeholder="Enter your last name" />
            <span asp-validation-for="NewPerson.LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="NewPerson.Email">Email</label>
            <input type="email" class="form-control" asp-for="NewPerson.Email" placeholder="Enter your email" />
            <span asp-validation-for="NewPerson.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="NewPerson.Password">Password</label>
            <div class="password-container">
                <input type="password" class="form-control" asp-for="NewPerson.Password" placeholder="Enter your password" id="password" />
                <button type="button" id="togglePassword" class="btn btn-secondary" onclick="togglePasswordVisibility()"><i id="eyeIcon" class="bi bi-eye"></i></button>
            </div>
            <span asp-validation-for="NewPerson.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <label class="form-label" asp-for="NewPerson.Telephone">Telephone</label>
            <input type="tel" class="form-control" asp-for="NewPerson.Telephone" placeholder="Enter your telephone number" />
            <span asp-validation-for="NewPerson.Telephone" class="text-danger"></span>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-12">
            <button id="btnRegister" class="btn btn-primary btn-register">Register</button>
        </div>
    </div>
</form>