@page
@using System.Security.Claims
@model MedicalSuiteWeb.Pages.Appointments.EditAppointmentModel
@{
    ViewData["Title"] = "Edit_Appointment";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}
<form method="post" class="form-group">
    <div class="container mt-5">
        <h1>Edit Appointment</h1>
        <div class="row mt-4">
            <div class="col-md-6">
                <h2>Update appointment information below:</h2>
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" class="form-control" asp-for="specifiedAppointment.AppointmentDate" id="AppointmentDate" required>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Time</label>
                    <input type="time" class="form-control" asp-for="specifiedAppointment.AppointmentTime" id="AppointmentTime" required>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Notes</label>
                    <textarea class="formcontrol" asp-for="specifiedAppointment.AppointmentNotes"></textarea>
                </div>
                <div class="mb-3">
                    <label for="time" class="form-label">Doctor's Name</label>
                    <input type="text" class="form-control" asp-for="specifiedAppointment.DoctorsName" id="DoctorsName" required>
                </div>
                <button type="submit" class="btn btn-primary">Update Appointment</button>
            </div>
        </div>
    </div>
</form>
