@page
@model MedicalSuiteWeb.Pages.Prescriptions.EditPrescriptionModel
@using System.Security.Claims
@{
    ViewData["Title"] = "Add Prescription";
}
@{
    if (HttpContext.User.FindFirstValue(ClaimTypes.Role) != null)
    {
        Layout = LayoutAuthorizer.GetLayoutFromRole(this.HttpContext);
    }
    else
    {
        Layout = "_Layout";
    }
}


<form method="post" class="container mt-4">
    <h2>Edit Prescription</h2>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PersonId" class="form-label">Patient</label>
            <select class="form-control" asp-for="specifiedPrescription.PersonId" asp-items="@Model.listOfPatients"></select>
        </div>
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PrescriptionName" class="form-label">Prescription Name</label>
            <input type="text" class="form-control" asp-for="specifiedPrescription.PrescriptionName" />
        </div>
        
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PrescriptionStrength" class="form-label">Strength</label>
            <input type="text" class="form-control" asp-for="specifiedPrescription.PrescriptionStrength" />
        </div>
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.WrittenDate" class="form-label">Written Date</label>
            <input type="date" class="form-control" asp-for="specifiedPrescription.WrittenDate" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PrescriptionQuantity" class="form-label">Quantity</label>
            <input type="text" class="form-control" asp-for="specifiedPrescription.PrescriptionQuantity"/>
        </div>
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.ExpirationDate" class="form-label">Expiration Date</label>
            <input type="date" class="form-control" asp-for="specifiedPrescription.ExpirationDate" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PrescriptionDirections" class="form-label">Directions</label>
            <textarea class="form-control" asp-for="specifiedPrescription.PrescriptionDirections" style="width: 100%; height: 200px;"></textarea>
        </div>
        <div class="col-md-6">
            <label asp-for="specifiedPrescription.PrescriptionScheduleId" class="form-label">Drug Schedule</label>
            <select class="form-control" asp-for="specifiedPrescription.PrescriptionScheduleId" asp-items="@Model.listOfSchedules"></select>
            <label asp-for="specifiedPrescription.DoctorsName" class="form-label">Doctor</label>
            <select class="form-control" asp-for="specifiedPrescription.DoctorsName" asp-items="@Model.listOfDoctors"></select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="btnAdd" class="btn btn-primary" asp-page-handler="Edit"asp-route-id="@Model.specifiedPrescription.PrescriptionId">Update Prescription</button>
        </div>
    </div>
</form>