html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}



.form-label, form-control {
    color: white;
}
.jumbotron {
    background-color: #f8f9fa;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

h1 {
    color: #007bff;
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

.btn-primary {
    background-color: purple;
    border-color: purple;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

