html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #808080, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*.form-label, form-control {
    color: black;
}
*/
.jumbotron {
    background-color: #f8f9fa;
    padding: 4rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

h1 {
    color: #007bff;
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.6;
}

.btn-primary {
    background-color: purple;
    border-color: purple;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-label {
    font-weight: bold;
}

.profile-section {
    margin-bottom: 20px;
}

.prescription-section {
    margin-top: 30px;
}

.prescription-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prescription-item {
    margin-bottom: 10px;
}




.profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-label {
    font-weight: bold;
}

.profile-section {
    margin-bottom: 20px;
}

.prescription-section {
    margin-top: 30px;
}

.prescription-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.prescription-item {
    margin-bottom: 10px;
}

.img-container {
    border: 3px solid black;
}

#abtUsImg3, abtUsImg2, abtUsImg1 {
    height: 300px;
    width: 525px
}

